IoTHub/recivemessage.js
firebase-config.js
server4.js
IoTHub/server.js
server.js
serverconfig.js
/build/
*.suo
.user
_ReSharper./
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
.vs